body{
    background-color: rgb(147, 233, 245);
}

.container{
    width: 700px;
    padding: 0 50px;
    margin: 0 auto;
}

h1{
    color: red;
    font-size: 48px;
    text-align: center;
    font-family: "Arial", sans-serif;
}


.game{
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
    margin: auto;
}

.dino{
    width: 50px;
    height: 50px;
    background-image: url(/images/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.cactus{
    width: 20px;
    height: 40px;
    background-image: url(/images/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusMov 1.5s infinite linear;
}

@keyframes cactusMov{
    0%{
        left: 580px;
    }

    100%{
        left: -20px;
    }
}

.jump{
    animation: jump 0.5s linear;
}

@keyframes jump{
    0%{
        top: 150px;
    }

    30%{
        top: 130px;
    }

    50%{
        top: 80px;
    }

    80%{
        top: 130px;
    }

    100%{
        top: 150px;
    }
}


@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        padding: 10px;
    }

    h1{
        text-align: center;
        font-size: 18px;
    }

    .game{
        width: 80%;
    }

    .dino{
        width: 15%;
    }
}